﻿@model Oficina.Models.Fatura

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reparacao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparacao.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMaoObra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMaoObra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalConsumiveis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalConsumiveis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
