﻿@model Oficina.Models.Fatura

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reparacao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparacao.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMaoObra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMaoObra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalConsumiveis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalConsumiveis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>

    </dl>
</div>

<br /><br />

<div>
    <h4>Consumíveis e Mão-de-Obra</h4>
    <hr />
    @for (int i = 0; i < ViewBag.Detalhes.Count; i++)
    {
        <dl class="dl-horizontal">

            <dt>
                Peça
            </dt>
            <dd>
                @ViewBag.Detalhes[i].Peca.Descricao
            </dd>
            <dt>
                Preço Unid. c/ Iva
            </dt>
            <dd>
                @ViewBag.Detalhes[i].Peca.Preco €
            </dd>
            <dt>
                Quantidade
            </dt>
            <dd>
                @ViewBag.Detalhes[i].Quantidade
            </dd>
            <dt>
                Total c/ Iva
            </dt>
            <dd>
                @ViewBag.Detalhes[i].ValorTotal €
            </dd>
        </dl>
    }
</div>


<div>

    <hr />

    <dl class="dl-horizontal">

        <dt>
            Mecânico
        </dt>
        <dd>
            @ViewBag.Detalhes[0].Reparacao.Mecanico.Nome
        </dd>
        <dt>
            Custo/hora c/ IVA
        </dt>
        <dd>
            @ViewBag.MaoObraIva
        </dd>
        <dt>
            Horas
        </dt>
        <dd>
            @ViewBag.Horas
        </dd>
        <dt>
            Total c/ IVA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalMaoObra) 
        </dd>

    </dl>

</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Numero }) |*@
    @Html.ActionLink("Voltar", "Index")
</p>
