﻿@model IEnumerable<Oficina.Models.Fatura>

@{
    ViewBag.Title = "Faturas";
}

<h2 style="text-align:left;float:left">Faturas</h2>
<h4 style="text-align:right;float:right">resultado(@ViewBag.Contagem)</h4>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reparacao.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMaoObra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalConsumiveis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEmissao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reparacao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reparacao.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMaoObra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalConsumiveis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Numero }) |*@
                @Html.ActionLink("Detalhes", "Details", new { id = item.Numero })|
                @Html.ActionLink("Delete", "Delete", new { id = item.Numero }) @**@
            </td>
        </tr>
    }

</table>
