﻿@model Oficina.Models.ReparacaoDetalhe

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Reparação Detalhe</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Reparacao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparacao.Descricao)
        </dd>
        <dt>
            Peça
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peca.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.IdReparacaoDetalhe }) |*@
    @Html.ActionLink("Voltar", "Index")
</p>
