﻿@model IEnumerable<Oficina.Models.ReparacaoDetalhe>

@{
    ViewBag.Title = "Detalhes";
}

<h3>Detalhes das Reparações</h3>
<br/>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Peça
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Rep. @Html.DisplayFor(modelItem => item.Reparacao.IdReparacao) - @Html.DisplayFor(modelItem => item.Reparacao.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peca.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdReparacaoDetalhe }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.IdReparacaoDetalhe }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.IdReparacaoDetalhe })
        </td>
    </tr>
}

</table>
<br/><br/>
@Html.ActionLink("Reparações »", "Index", "Reparacaos")