﻿@model IEnumerable<Oficina.Models.ReparacaoDetalhe>

<h3>Detalhes das Reparações</h3>


<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Peça
        </th>
        <th>
            Quantidade
        </th>
        <th></th>
    </tr>

    @foreach (var item in @ViewBag.Detalhes)
    {
        <tr>
            <td>
                item.Reparacao.Descricao
            </td>
            <td>
                item.Peca.Descricao
            </td>
            <td>
                item.Quantidade
            </td>
        </tr>
    }

</table>
<br /><br />
@Html.ActionLink("Voltar", "Index", "Reparacaos")

