﻿@model Oficina.ViewModels.ReparacaoViewModels

@{
    /**/

    ViewBag.Title = "Nova Reparação";
}

<h2>Nova Reparação</h2>

<h4 class="text-success">@ViewBag.Message</h4>
<h4 class="text-danger">@ViewBag.Error</h4>

@using (Html.BeginForm("NovaReparacao", "Marcacoes", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="form-group">
            @Html.LabelFor(model => model.Viatura.IdViatura, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdViatura", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Viatura.IdViatura, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Data, new { type = "datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mecanico.IdMecanico, "Mecânico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdMecanico", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mecanico.IdMecanico, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /> <br />

        @Html.ActionLink("Adicionar Peça", "AdicionaPeca", new { }, new { @class = "btn btn-primary" })


        <input type="submit" value="Marcar Reparação" id="NewOrder" class="btn btn-success" />

    </div>
    <br /> <br />

    <h3>Peças</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peca.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peca.Valor)
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Pecas.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Pecas[i].Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Pecas[i].Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Pecas[i].Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Pecas[i].Valor)
                </td>
                <td>

                    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Pecas[i].IdPeca }) |
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Pecas[i].IdPeca })*@
                </td>
            </tr>
        }

    </table>
}
<br/><br />
@Html.ActionLink("Lista de Reparações", "Index", "Reparacaos")