﻿@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Oficinas MVC</h1>
    <p class="lead">As Oficinas MVC oferecem os melhores produtos e serviços aos melhores preços...</p>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    @*<div id="curve_chart" style="width: 900px; height: 500px"></div>*@
    @*<p><a href="http://localhost:57043/reparacaos/index" class="btn btn-primary btn-lg">Ir para Reparações &raquo;</a></p>*@
    <br />
    @Html.ActionLink("Ir para Reparações »", "Index", "Reparacaos", null, new { @class = "btn btn-primary btn-lg" })
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>ASP.NET MVC</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Mês', 'Reparações'],
            ["Março", @ViewBag.Marco2018],
            ["Abril",  @ViewBag.Abril2018],
            ['Maio',  @ViewBag.Maio2018],
            ['Junho',  @ViewBag.Junho2018],
            ['Julho',  @ViewBag.Julho2018]
        ]);

        var options = {
            title: 'Valores Mensais',
            vAxis: {title: 'Número Reparações'},
            isStacked: true
        };

        var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>


