﻿@model Oficina.Models.Peca

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>



<div>

    <h4>Peça</h4>

    <hr/>
    <div>
        <img src="@Url.Content(Html.DisplayFor(model => model.Imagem).ToString())" 
             alt="Imagem" style="width: 200px; height: 200px; max-width: 100%; height:auto"/>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPeca }) |
    @Html.ActionLink("Voltar", "Index")
</p>
