﻿@model IEnumerable<Oficina.Models.Peca>

@{
    ViewBag.Title = "Peças";
}

<h2 style="text-align:left;float:left">Peças</h2>
<h4 style="text-align:right; float: right">resultado(@ViewBag.Contagem)</h4>
<p style="clear: both">
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Imagem))
                {
                    <img src="@Url.Content(item.Imagem)" alt="Imagem" style="width: 50px; height: 50px; max-width: 100%; height:auto" />
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdPeca }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdPeca }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.IdPeca })
            </td>
        </tr>
    }

</table>
