﻿@model Oficina.ViewModels.ViaturaView

@{
    ViewBag.Title = "Clientes e viaturas";
}

<h2>Clientes - Viaturas</h2>

@using (Html.BeginForm("NewViaturaView", "ViaturaView", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.IdCliente, "Cliente", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("IdCliente", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Cliente.IdCliente, "", new {@class = "text-danger"})
            </div>
            <br/><br/>
            @Html.ActionLink("Cria Viatura", "CriaViatura", new { }, new { @class = "btn btn-primary" })

            <input type="submit" value="Associar" id="NewViaturaView" class="btn btn-success" />

        </div>
    </div>

    <h2>Detalhes da Viatura</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Viatura.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viatura.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viatura.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viatura.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viatura.Cor)
            </th>
        </tr>

        @for (int i = 0; i < Model.Viaturas.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Viaturas[i].Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Viaturas[i].Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Viaturas[i].Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Viaturas[i].Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Viaturas[i].Cor)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Viaturas[i].IdViatura }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Viaturas[i].IdViatura })
                </td>
            </tr>
        }

    </table>
}
