﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Oficinas MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Back Office<b class=" caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                            <li>@Html.ActionLink("Faturas", "Index", "Faturas")</li>
                            <li>@Html.ActionLink("Mecânicos", "Index", "Mecanicoes")</li>
                            <li>@Html.ActionLink("Peças", "Index", "Pecas")</li>
                            <li>@Html.ActionLink("Viaturas", "Index", "Viaturas")</li>
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reparações<b class=" caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Marcações", "NovaReparacao", "Marcacoes")</li>
                            <li>@Html.ActionLink("Ver todas", "Index", "Reparacaos")</li>
                            <li>@Html.ActionLink("Detalhes", "Index", "ReparacaoDetalhes")</li>
                        </ul>
                    </li>
                    
                    <li>
                        @using (Html.BeginForm("Index", "Reparacaos", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                        {
                            <div class="form-group">
                                @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Procurar em Reparações" })
                            </div>
                            <button type="submit" class="btn btn-default">Procurar</button>
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Oficinas MVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
