﻿@model Oficina.Models.Reparacao

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Reparação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mecanico.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mecanico.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viatura.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viatura.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>



<h3>Peças</h3>


<table class="table">
    <tr>
        <th>
            Peça
        </th>
        <th>
            Quantidade
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < ViewBag.Detalhes.Count; i++)
    {
        <tr>
            <td>
                @ViewBag.Detalhes[i].Peca.Descricao
            </td>
            <td>
                @ViewBag.Detalhes[i].Quantidade
            </td>
        </tr>
    }

</table>
<br /><br />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.IdReparacao }) |*@
    @Html.ActionLink("Voltar", "Index")
</p>
