﻿@using System.Reflection.Emit
@using Oficina.Models
@model IEnumerable<Oficina.Models.Reparacao>

@{
    ViewBag.Title = "Reparações";
}

<h2 style="text-align:left;float:left">Reparações</h2>
<h4 style="text-align:right; float: right;">resultado(@ViewBag.Contagem)</h4>

<p style="clear:both">
    @*@Html.ActionLink("Create New", "Create")*@
    @using (Html.BeginForm("Index", "Reparacaos", FormMethod.Get))
    {
        <label>Ordenar por Data:</label>
        @Html.DropDownList("Ordenar", null, "default", new { @class= "form-control", style = "display:inline" })
        <input type="submit" value="Ordenar" class="btn btn-default" />

        <label>Filtrar por Cliente:</label>
        @Html.DropDownList("Cliente", null, "Todos", new { @class= "form-control", style = "display:inline" })
        <input type="submit" value="Filtrar" class="btn btn-default" />
        
        <input type="hidden" name="Search" id="Search" value="@ViewBag.Search" />

    }

</p>

<table class="table">
    <tr>
        <th>
            Mecânico
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viatura.Matricula)
        </th>
        <th>
            Marca
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {

        if (item.Status == Status.Activa)
        {

            <tr >
                <td scope="col">
                    @Html.DisplayFor(modelItem => item.Mecanico.Nome)
                </td>
                <td scope="col">
                    @Html.DisplayFor(modelItem => item.Viatura.Matricula)
                </td>
                <td scope="col">
                    @Html.DisplayFor(modelItem => item.Viatura.Marca)
                </td>
                <td scope="col">
                    @Html.DisplayFor(model => item.Cliente)
                </td>
                <td scope="col">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td scope="col">
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td scope="col">
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td scope="col">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td scope="col">
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdReparacao }) |
                    @Html.ActionLink("Finalizar", "Edit", new { id = item.IdReparacao })@* |
                        @Html.ActionLink("apagar", "Delete", new { id = item.IdReparacao })*@
                </td>
            </tr>

        }
        else
        {

            <tr class="alert-success">
                <td>
                    @Html.DisplayFor(modelItem => item.Mecanico.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viatura.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viatura.Marca)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @*@Html.ActionLink("Editar", "Edit", new { id = item.IdReparacao }) |
                        @Html.ActionLink("Detalhes", "Index", "ReparacaoDetalhes" ) | *@
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdReparacao }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.IdReparacao })
                </td>
            </tr>

        }


    }

</table>
