﻿@model IEnumerable<Oficina.Models.Mecanico>

@{
    ViewBag.Title = "Mecânicos";
}

<h2 style="text-align:left;float:left">Mecânicos</h2>
<h4 style="text-align:right; float: right">resultado(@ViewBag.Contagem)</h4>
<p style="clear: both">
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoHora)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoHora)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdMecanico }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdMecanico }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.IdMecanico })
            </td>
        </tr>
    }

</table>
