﻿@model IEnumerable<Oficina.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:left;float:left">Clientes</h2>
<h4 style="text-align:right; float: right">resultado(@ViewBag.Contagem)</h4>
<p style="clear: both">
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdCliente }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdCliente }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.IdCliente })
            </td>
        </tr>
    }

</table>
