﻿@model IEnumerable<Oficina.Models.Viatura>

@{
    ViewBag.Title = "Viaturas";
}

<h2 style="text-align:left;float:left">Viaturas</h2>
<h4 style="text-align:right; float: right">resultado(@ViewBag.Contagem)</h4>
<p style="clear: both">
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdViatura }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdViatura }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.IdViatura })
            </td>
        </tr>
    }

</table>
