﻿@model IEnumerable<Oficina.ViewModels.UserViewModels>
@{
    ViewBag.Title = "Index";
}

<h2>Gestão de Permissiões</h2>
<h4>Users(@ViewBag.Contagem)</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Roles", "Roles", new { UserID = item.UserID })
            </td>
        </tr>
    }

</table>